# File .gitignore
# version 0.1 
# 29.06.2025

# Это комментарий.

# Ниже приведены простейшие примеры шаблонов, по которым происходит 
# игнорирование.

# Игнорировать файл access.log в любой директории проекта:
access.log

# Игнорировать директорию node_modules в любой директории проекта:
node_modules/

# Игнорировать каталог coverage  в корне рабочей директории проекта:
/coverage/


# Игнорировать файл INFO.md в любой директории проекта:
INFO.md

#
#

