# File .gitignore
# version 0.1 
# 29.06.2025

# Ниже приведены простейшие примеры шаблонов, по которым происходит 
# игнорирование.

# Это комментарий.

# Слэш в конце строки означает директорию.
# Игнорировать все файлы в директории node_modules в любой директории проекта:
node_modules/

# Слэш в начале строки отменяет рекурсию, применяемую по-умолчанию
# Игнорировать все файлы в каталоге coverage 
# только в корне рабочей директории проекта:
/coverage/

# Восклицательный знак ! в начале строки шаблона отключает этот шаблон.

# Знак звёздочки * означает ноль или больше символов.
# Игнорировать любые файлы, имя которых заканчивается на .a
*.a

# Знак вопроса ? означает один любой символ.

# Набор символов в квадратных скобках [абв] означает один любой символ 
# из этого набора - или а, или б, или в.

# Диапазон цифр или букв в квадратных скобках [0-5] означает один любой символ
# из этого диапазона - или 0, или 1, или 2, ... или 5.

# С помощью символа звёздочки * можно указывать вложенные директории.
# Например, a/*/z отвечает a/z, a/b/z, a/b/c/z и т.д.



# Игнорировать файл INFO.md в любой директории проекта:
INFO.md

#
README.md
#

